/******************************* 
    hover nav elements
*******************************/

.container-logo img:hover {
    cursor: pointer;
}

.container-home:hover {
    border-right: solid 1px greenyellow;
    cursor: pointer;
}

.container-home p:hover {
    color: white;
    cursor: pointer;
}

.container-search:hover {
    border-right: solid 1px greenyellow;
    cursor: pointer;
}

.container-search p:hover {
    color: white;
    cursor: pointer;
}

.container-library:hover {
    border-right: solid 1px greenyellow;
    cursor: pointer;
}

.container-library p:hover {
    color: white;
    cursor: pointer;
}

#plus:hover {
    background-color: white;
    cursor: pointer;
}

.link-plus p:hover {
    color: white;
    cursor: pointer;
}

#down-arrow:hover {
    color: greenyellow;
    border: solid 1px greenyellow;
    cursor: pointer;
}

.container-user p:hover {
    cursor: pointer;
    color: white;
}

.user-icon img:hover {
    cursor: pointer;
    transform: scale(1.3)
}

.user-icon p:hover {
    cursor: pointer;
    color: greenyellow;
}

/******************************* 
    hover main elements
*******************************/

#upgrade-button:hover {
    cursor: pointer;
    border: solid 1px greenyellow;
    color: greenyellow;
    transform: scale(1.1);
}

#link0:hover {
    color: white;
    border-bottom: solid 1px greenyellow;
}

#link1:hover {
    color: white;
    border-bottom: solid 1px greenyellow;
}

#link2:hover {
    color: white;
    border-bottom: solid 1px greenyellow;
}

#link3:hover {
    color: white;
    border-bottom: solid 1px greenyellow;
}

#link4:hover {
    color: white;
    border-bottom: solid 1px greenyellow;
}

#link5:hover {
    color: white;
    border-bottom: solid 1px greenyellow;
}

.heavy-metal:hover #playcircle-metal {
    display: block;
    cursor: pointer;
    color: greenyellow;
}

.stranger:hover #playcircle-stranger {
    display: block;
    cursor: pointer;
    color: greenyellow;
}

.aquietplace:hover #playcircle-aquietplace {
    display: block;
    cursor: pointer;
    color: greenyellow;
}

.split:hover #playcircle-split {
    display: block;
    cursor: pointer;
    color: greenyellow;
}

.cure:hover #playcircle-cure {
    display: block;
    cursor: pointer;
    color: greenyellow;
}

.sinister:hover #playcircle-sinister {
    display: block;
    cursor: pointer;
    color: greenyellow;
}

.heavy-metal h5:hover {
    cursor: pointer;
    color: greenyellow;
}

.stranger h5:hover {
    cursor: pointer;
    color: greenyellow;
}

.aquietplace h5:hover {
    cursor: pointer;
    color: greenyellow;
}

.split h5:hover {
    cursor: pointer;
    color: greenyellow;
}

.cure h5:hover {
    cursor: pointer;
    color: greenyellow;
}

.sinister h5:hover {
    cursor: pointer;
    color: greenyellow;
}

.release-radar:hover #playcircle-releaseradar {
    display: block;
    cursor: pointer;
    color: greenyellow;
}

.dailymix:hover #playcircle-dailymix {
    display: block;
    cursor: pointer;
    color: greenyellow;
}

.release-radar h5:hover {
    cursor: pointer;
    color: greenyellow;
}

.dailymix h5:hover {
    cursor: pointer;
    color: greenyellow;
}

.youg img {
    cursor: pointer;
}

.einaudi img {
    cursor: pointer;
}

.youg h5:hover {
    cursor: pointer;
    color: greenyellow;
}

.einaudi h5:hover {
    cursor: pointer;
    color: greenyellow;
}