/******************************* 
    common UI elemets
*******************************/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.d-flex { display: flex; }

:root {
    --footer-height: 90px;
    --navbar-width: 12rem;
    --navbar-width-resp: 3rem;
}

/******************************* 
    nav elements
*******************************/

nav {
    background: black;
    height: calc(100% - var(--footer-height));
    width: var(--navbar-width);
    position: relative;
}

.container-logo {
    padding: 16px 0 8px 16px;
}

.container-logo img { width: 70%; }

#logo2 {
    width: 20%;
    left: 16px;
    top: 16px;
    display: none;
}

.container-home {
    padding: 8px 0 4px 16px;
    align-items: center;
    font-size: small;
    transition: all .55s ease;
}

.container-home img {
    width: 15%;
    filter: invert(0.5);
    margin-right: 4px;
}

.container-home p {
    color: gray;
    font-weight: 600;
}

.container-search {
    padding: 8px 0 4px 16px;
    align-items: center;
    font-size: small;
    transition: all .55s ease;
}

.container-search img {
    width: 15%;
    filter: invert(0.5);
    margin-right: 4px;
}

.container-search p {
    color: gray;
    font-weight: 600;
}

.container-library {
    padding: 8px 0 4px 16px;
    align-items: center;
    font-size: small;
    transition: all .55s ease;
}

.container-library img {
    width: 15%;
    filter: invert(0.5);
    margin-right: 4px;
}

.container-library p {
    color: gray;
    font-weight: 600;
}

#section-flex {
   flex-direction: column;
   justify-content: space-between;
}

.container-playlist { padding: 16px 0 4px 16px; }

.container-playlist h5 {
    color: white;
    font-weight: 600;
    padding-bottom: 8px;
}

.link-plus { align-items: center; }

#plus {
    color: black;
    background-color: gray;
    font-size: 30px;
    transition: all .55s ease;
}

.link-plus p {
    color: gray;
    font-weight: 600;
    font-size: small;
    padding-left: 8px;
}

.list li {
    color: gray;
    font-weight: 600;
    font-size: small;
    padding: 8px 0;
}

.container-user {
    padding: 0 0 8px 16px;
    position: absolute;
    bottom: 0;
}

.download {
    padding: 0 0 4px 0;
    align-items: center;
}

#down-arrow {
    color: gray;
    border: solid 1px gray;
    border-radius: 50%;
    transition: all .55s ease;
}

.download p {
    color: gray;
    padding-left: 8px;
    font-size: small;
    font-weight: 600;
}

.container-user hr {
    color: gray;
    width: 80%;
    margin: 8px 0 16px 0;
}

.user-icon { align-items: center; }

.user-icon img {
    width: 15%;
    background-color: gray;
    border-radius: 50%;
    transition: all .55s ease;
}

.user-icon p {
    color: white;
    font-size: medium;
    font-weight: 600;
    padding-left: 8px;
}

/******************************* 
    main elements
*******************************/

main {
    height: calc(100% - var(--footer-height));
    width: calc(100% - var(--navbar-width));
    background: #141922;
}

.topmain-container {
    height: 90px;
    width: auto;
    background-color: #080B12;
    align-items: center;
    justify-content: end;
}

#upgrade-button {
    margin-right: 16px;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 20px;
    color: white;
    height: 40px;
    width: 175px;
    transition: all .55s ease;
}

.bottommain-container {
    overflow: auto;
    height: calc(100% - var(--footer-height));
}

.link-container {
    justify-content: center;
    padding-top: 16px;
}

.link-container a {
    padding: 16px 16px;
    color: gray;
    font-weight: 600;
    font-size: small;
    transition: all .55s ease;
}

.recently-played h2 {
    padding: 16px 16px;
    color: white;
}

.heavy-metal {
    flex-direction: column;
    align-items: center;
    position: relative;
}

#playcircle-metal {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 70px;
    display: none;
}

.heavy-metal img {
    width: 185px;
    padding: 16px 16px;
}

.heavy-metal h5 {
    color: white;
    padding-bottom: 8px;
    font-size: medium;
}

.heavy-metal p {
    color: gray;
    font-size: small;
    font-weight: 600;
}

.stranger {
    flex-direction: column;
    align-items: center;
    position: relative;
}

#playcircle-stranger {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 70px;
    display: none;
}

.stranger img {
    width: 185px;
    padding: 16px 16px;
}

.stranger h5 {
    color: white;
    padding-bottom: 8px;
    font-size: medium;
    width: 151px;
}

.stranger p {
    color: gray;
    font-size: small;
    font-weight: 600;
}

.aquietplace {
    flex-direction: column;
    align-items: center;
    position: relative;
}

#playcircle-aquietplace {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 70px;
    display: none;
}

.aquietplace img {
    width: 185px;
    padding: 16px 16px;
}

.aquietplace h5 {
    color: white;
    padding-bottom: 8px;
    font-size: medium;
}

.aquietplace p {
    color: gray;
    font-size: small;
    font-weight: 600;
}

.split {
    flex-direction: column;
    align-items: center;
    position: relative;
}

#playcircle-split {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 70px;
    display: none;
}

.split img {
    width: 185px;
    padding: 16px 16px;
}

.split h5 {
    color: white;
    padding-bottom: 8px;
    font-size: medium;
}

.split p {
    color: gray;
    font-size: small;
    font-weight: 600;
}

.cure {
    flex-direction: column;
    align-items: center;
    position: relative;
}

#playcircle-cure {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 70px;
    display: none;
}

.cure img {
    width: 185px;
    padding: 16px 16px;
}

.cure h5 {
    color: white;
    padding-bottom: 8px;
    font-size: medium;
}

.cure p {
    color: gray;
    font-size: small;
    font-weight: 600;
}

.sinister {
    flex-direction: column;
    align-items: center;
    position: relative;
}

#playcircle-sinister {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 70px;
    display: none;
}

.sinister img {
    width: 185px;
    padding: 16px 16px;
}

.sinister h5 {
    color: white;
    padding-bottom: 8px;
    font-size: medium;
}

.sinister p {
    color: gray;
    font-size: small;
    font-weight: 600;
}

.foryou h2 {
    padding: 32px 0 8px 16px;
    color: white;
}

.subtitle-foryou p {
    color: gray;
    font-size: small;
    font-weight: 600;
    padding: 0 0 16px 16px;
}

.release-radar {
    flex-direction: column;
    align-items: center;
    position: relative;
}

#playcircle-releaseradar {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 70px;
    display: none;
}

.release-radar img {
    width: 185px;
    padding: 16px 16px;
}

.release-radar h5 {
    color: white;
    padding-bottom: 8px;
    font-size: medium;
}

.dailymix {
    flex-direction: column;
    align-items: center;
    position: relative;
}

#playcircle-dailymix {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 70px;
    display: none;
}

.dailymix img {
    width: 185px;
    padding: 16px 16px;
}

.dailymix h5 {
    color: white;
    padding-bottom: 8px;
    font-size: medium;
}

.artist-title h2 {
    padding: 32px 0 8px 16px;
    color: white;
}

.subtitle-artist p {
    color: gray;
    font-size: small;
    font-weight: 600;
    padding: 0 0 16px 16px;
}

.youg {
    flex-direction: column;
    align-items: center;
    position: relative;
}

.youg img {
    width: 185px;
    padding: 16px 16px;
    border-radius: 50%;
}

.youg h5 {
    color: white;
    padding-bottom: 8px;
    font-size: medium;
}

.einaudi {
    flex-direction: column;
    align-items: center;
    position: relative;
}

.einaudi img {
    width: 185px;
    padding: 16px 16px;
    border-radius: 50%;
}

.einaudi h5 {
    color: white;
    padding-bottom: 8px;
    font-size: medium;
}

/******************************* 
    footer elements
*******************************/

footer {
    width: 100%;
    height: var(--footer-height);
    background: #282828;
}

.footerleft-container {
    align-items: center;
}

.footerleft-container img {
    width: 50px;
    margin: 16px 16px;
}

.name-music h6 {
    color: white;
    font-weight: 600;
    font-size: small;
}

.name-music p {
    color: gray;
    font-weight: 600;
    font-size: x-small;
}

#heart {
    margin: 0 8px 0 16px;
    color: white;
}

#folder { color: white; }